[submodule "libraries/DueTimer"]
	path = libraries/DueTimer
	url = git@github.com:ivanseidel/DueTimer.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "libraries/MatrixText"]
	path = libraries/MatrixText
    url=git@github.com:daniel1111/MatrixText.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "libraries/NanodeUNIO"]
	path = libraries/NanodeUNIO
	url = git@github.com:sde1000/NanodeUNIO.git
[submodule "libraries/EtherShield"]
	path = libraries/EtherShield
	url = git@github.com:daniel1111/EtherShield.git
[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = git@github.com:marcoschwartz/LiquidCrystal_I2C.git
[submodule "libraries/ArduinoModbus"]
	path = libraries/ArduinoModbus
	url = git@github.com:arduino-libraries/ArduinoModbus.git
[submodule "libraries/ArduinoRS485"]
	path = libraries/ArduinoRS485
	url = git@github.com:arduino-libraries/ArduinoRS485.git
[submodule "libraries/WDTZero"]
	path = libraries/WDTZero
	url = git@github.com:dpslwk/WDTZero.git
