[submodule "libraries/DueTimer"]
	path = libraries/DueTimer
	url = git@github.com:ivanseidel/DueTimer.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "libraries/MatrixText"]
	path = libraries/MatrixText
    url=git@github.com:daniel1111/MatrixText.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "libraries/NanodeUNIO"]
	path = libraries/NanodeUNIO
	url = git@github.com:sde1000/NanodeUNIO.git
[submodule "libraries/EtherShield"]
	path = libraries/EtherShield
	url = git@github.com:daniel1111/EtherShield.git
[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = git@github.com:marcoschwartz/LiquidCrystal_I2C.git
[submodule "libraries/ArduinoModbus"]
	path = libraries/ArduinoModbus
	url = git@github.com:arduino-libraries/ArduinoModbus.git
[submodule "libraries/ArduinoRS485"]
	path = libraries/ArduinoRS485
	url = git@github.com:arduino-libraries/ArduinoRS485.git
[submodule "libraries/WDTZero"]
	path = libraries/WDTZero
	url = git@github.com:dpslwk/WDTZero.git
[submodule "libraries/SDM_Energy_Meter"]
	path = libraries/SDM_Energy_Meter
	url = git@github.com:reaper7/SDM_Energy_Meter.git
[submodule "libraries/Adafruit_BusIO"]
        path = libraries/Adafruit_BusIO
        url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "libraries/SensirionCore"]
	path = libraries/SensirionCore
        url = https://github.com/Sensirion/arduino-core.git
[submodule "libraries/arduino-i2c-scd4x"]
	path = libraries/arduino-i2c-scd4x
	url = https://github.com/Sensirion/arduino-i2c-scd4x.git
[submodule "libraries/SCD4x"]
	path = libraries/SCD4x
	url = https://github.com/sparkfun/SparkFun_SCD4x_Arduino_Library.git
[submodule "libraries/PMAS003"]
	path = libraries/PMAS003
	url = https://github.com/RodNalCY/arduino-pmsa003-code.git
[submodule "libraries/INA219"]
	path = libraries/INA219
	url = https://github.com/RobTillaart/INA219.git
